src/HDE.AudioRecorder/.vs/
src/HDE.AudioRecorder/HDE.AudioRecorder/bin/
src/HDE.AudioRecorder/HDE.AudioRecorder/obj/
src/HDE.AudioRecorder/AudioRecorder/bin/
src/HDE.AudioRecorder/AudioRecorder/obj/
src/HDE.AudioRecorder/AudioRecorderV3/obj/
src/HDE.AudioRecorder/AudioRecorderV4/AudioRecorderV4 (Package)/bin/
src/HDE.AudioRecorder/AudioRecorderV4/AudioRecorderV4/bin/
src/HDE.AudioRecorder/AudioRecorderV4/AudioRecorderV4/obj/
src/HDE.AudioRecorder/AudioRecorderV4/AudioRecorderV4 (Package)/obj/
